*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  width: 150px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  background-color: #F0F4F7;
  color: #162D3D;
}

a,
button {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  background-color: #116dff;
  border: #116dff 1px solid;
  border-radius: 50px;
  color: #fff;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
  padding: .3em 1.3em;
  transition: all .2s ease-in-out;
  user-select: none;
  white-space: nowrap;
}

a:hover,
button:hover {
  background-color: #3885ff;
  border-color: #3885ff;
}

.disabled,
button:disabled {
  user-select: none;
  pointer-events: none;
  filter: grayscale(100%);
  opacity: 0.6;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  overflow: auto;
  width: 100%;
}

tr {
  background-color: #F0F4F7;
  border-top: 1px solid #7A92A5;
}

th,
td {
  border: 1px solid #7A92A5;
  padding: 6px 13px;
  text-align: center;
}

.rapport {
  display: flex;
  gap: 15px;
}

#ok {
  color: #44823F;
}

#warn {
  color: #C68801;
}

#error {
  color: #D6453D;
}
